$color-bg: #d3d2d2
$color-bg-variant: #2c2c6c
$color-primary: rgb(1, 94, 160)
$color-primary-variant: rgba(1, 109, 185,0.4)
$color-white: #fff
$color-dark: #000000cb
$color-light: #ffffff99
$container-width-lg: 75%
$container-width-md: 86%
$container-width-ms: 90%

$transition: all 400ms ease

// header variant
$me-height: 30rem
$me-width: 22rem
$me-height-pp:10rem
$me-width-pp: 10rem
$me-height-p:23rem
$me-width-p: 18rem
$me-height-l: 50rem
$me-width-l: 36em